<div [formGroup]="themeForm" class="bg-white shadow rounded-lg p-4 md:p-6 xl:p-8 my-6 mx-4">
  <div class="flex flex-wrap items-start mb-4">
    <div class="w-full mb-4">
      <div>
        <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Site name</label>
        <input type="text" id="last_name"
               formControlName="siteName"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-96 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               required>
      </div>
    </div>
    <div class="w-full">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Upload file</label>
      <input (change)="onFileChange($event)" class="form-control" type="file" id="formFile"
             class="block w-96 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400">
    </div>
  </div>
  <div class="flex flex-wrap items-start theme-colors">
    <div class="w-full mb-4">
      <h1 class="text-4xl text-gray-700 font-bold">
        Theme color palette
      </h1>
      <div formGroupName="colors">
        <div class="color-group">
          <label>Primary:</label>
          <input formControlName="primary" type="color" name="head"
                 value="#e66465">
          {{themeForm.controls.colors.controls.primary.value}}
        </div>
        <div class="color-group">
          <label>Secondary:</label>
          <input formControlName="secondary" type="color" name="head" value="#e66465">
          {{themeForm.controls.colors.controls.secondary.value}}
        </div>
        <div class="color-group">
          <label>Accent:</label>
          <input formControlName="accent" type="color" name="head" value="#e66465">
          {{themeForm.controls.colors.controls.accent.value}}
        </div>
      </div>
    </div>
    <div class="w-full mb-5" formGroupName="body">
      <h1 class="text-4xl text-gray-700 font-bold">
        Body
      </h1>
      <div class="color-group">
        <label>Color:</label>
        <input formControlName="color" type="color" name="head" value="#e66465">
        {{themeForm.controls.body.controls.color.value}}
      </div>
      <div class="color-group">
        <label>Background:</label>
        <input formControlName="background" type="color" name="head" value="#e66465">
        {{themeForm.controls.body.controls.background.value}}
      </div>
    </div>
    <div class="w-full mb-5" formGroupName="header">
      <h1 class="text-4xl text-gray-700 font-bold">
        Header
      </h1>
      <div class="color-group">
        <label>Color:</label>
        <input formControlName="color" type="color" name="head" value="#e66465">
        {{themeForm.controls.header.controls.color.value}}
      </div>
      <div class="color-group">
        <label>Background:</label>
        <input formControlName="background" type="color" name="head" value="#e66465">
        {{themeForm.controls.header.controls.background.value}}
      </div>
      <div class="flex items-center mb-4">
        <label for="header-fixed" class="text-sm font-medium text-gray-900 dark:text-gray-300">Fixed</label>
        <input formControlName="fixed" id="header-fixed" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      </div>
    </div>
    <div class="w-full" formGroupName="footer">
      <h1 class="text-4xl text-gray-700 font-bold">
        Footer
      </h1>
      <div class="color-group">
        <label>Color:</label>
        <input formControlName="color" type="color" name="head" value="#e66465">
        {{themeForm.controls.footer.controls.color.value}}
      </div>
      <div class="color-group">
        <label>Background:</label>
        <input formControlName="background" type="color" name="head" value="#e66465">
        {{themeForm.controls.footer.controls.background.value}}
      </div>
    </div>
  </div>
  <button
    (click)="save()"
    class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Save
  </button>
</div>

