<div
  class="flex z-10 fixed right-0 left-0 items-center justify-between p-3 text-base font-bold text-footer-color rounded-lg bg-gray-100 group"
>
  <button (click)="goBack()" class="ml-3 whitespace-nowrap w-auto text-black"> < back</button>
  <h1 class="text-xl">{{pageTitle}}</h1>
  <button
    (click)="savePage()"
    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button">
    Save
  </button>
</div>
<div class="flex pt-[68px]">
  <div class="grow px-5 pt-5">
    <app-blocks-container [blocks]="blocks"></app-blocks-container>
  </div>
  <div class="flex flex-none w-96"></div>
  <div class="fixed z-10 overflow-auto right-0 top-[68px] flex-none w-96 h-[calc(100vh-68px)]">
    <app-editor-sidebar (addBlock)="addBlock($event)" [blocks]="blocks" [singleBlockMode]="singleBlockMode"></app-editor-sidebar>
  </div>
</div>
