
<footer class="p-4 bg-footer-bg rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-footer-color sm:text-center dark:text-gray-400"  *ngIf="themeSettings && themeSettings.siteName">
      {{themeSettings.siteName}}
    </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-footer-color dark:text-gray-400 sm:mt-0" *ngFor="let menuItem of menu; let i = index;">
    <li>
      <a class="mr-4 hover:underline md:mr-6" [routerLink]="[menuItem.slug]">{{menuItem.label}}</a>
    </li>
    <li *ngFor="let item of menuItem.children">
      <a class="mr-4 hover:underline md:mr-6" [routerLink]="[item.slug]">{{item.label}}</a>
    </li>
  </ul>
</footer>
