<header [ngClass]="{sticky: themeSettings && themeSettings.header.fixed}"
        class="text-black w-full bg-white z-50  top-0 font-montserrat text-{15px} font-normal not-italic">
  <div class="container mx-auto flex flex-wrap  p-[2.5px] flex-col md:flex-row items-center h-[60px]" style="flex-wrap:inherit" >

    <a [routerLink]="['/']" class="pl-[46px] pr-[84.5px] flex title-font items-center text-black mb-4 md:mb-0">

      <img alt="team" class=" m-auto" *ngIf="themeSettings && themeSettings.siteLogo; else siteName"
           [src]="themeSettings.siteLogo">
      <ng-template #siteName>
        <a class="ml-3 text-{15px} ">{{themeSettings ? themeSettings.siteName : ''}}</a>
      </ng-template>
    </a>

    <nav
      class="  uppercase	flex flex-wrap md:items-center text-black justify-center flex-wrap">
      <app-nested-menu [menus]="themeSettings ? themeSettings.mainMenu : []"></app-nested-menu>
    </nav>

  </div>

</header>
