<section class="text-black body-font font-montserrat">
  <div class="container mx-auto flex  py-6 flex-col items-center md:flex md:items-center	md:justify-center md:flex-row lg:w-[1657px] lg:h-[829px]">
    <div
      class="lg:w-[775px]  md:w-1/2 lg:pr-24 md:pr-16 flex flex-col mmd:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="pb-4 md:pb-10 title-font   text-[18px]  md:text-[40px] mb-4 font-medium text-black-900 ">{{data.titleContent}}
      </h1>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 md:hidden block">
        <img class="object-cover object-center " alt="hero" [src]="data.image ? data.image : 'https://dummyimage.com/720x600'">
      </div>
      <div  class="flex justify-center md:hidden mt-4 mb-4 " *ngFor="let item of data.items">
        <a [routerLink]="[item.link]"
           class="  inline-flex text-white bg-primary-color border-0 py-2 w-[70vw]  justify-center	 focus:outline-none 	hover:bg-primary-color-900 rounded text-lg">{{item.textButton}}<span>&nbsp;  ></span></a>
      </div>
      <div class="mb-8 leading-relaxed text-[10px] md:text-[32px]">
        <quill-view [content]="data.content" format="json"></quill-view>
      </div>
      <div class="flex justify-center md:block hidden" *ngFor="let item of data.items">
        <a [routerLink]="[item.link]"
                class=" mt-4 inline-flex text-white bg-primary-color border-0 py-2 px-6 focus:outline-none hover:bg-primary-color-900 rounded text-lg">{{item.textButton}}</a>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 md:block hidden">
      <img class="object-cover object-center " alt="hero" [src]="data.image ? data.image : 'https://dummyimage.com/720x600'">
      <p class="pt-8 text-center text-black ">{{data.imageDescription}}</p>
    </div>
  </div>
</section>
