<section class="text-gray-600 body-font font-montserrat ">
  <div class="container px-5 py-[120px] mx-auto  flex lg:flex-row md:flex-col justify-center">
    <div class="flex-1 m-auto justify-items-center">
      <h1 class="text-[64px]  text-black font-normal  text-center">OPERE</h1>
    </div>
    <div class="p-4 md:w-1/2 lg:w-[686px] lg:h-[722px]">
      <div class="h-full border-2 border-gray  overflow-hidden">
        <img class="lg:w-[686px] lg:h-[400px] md:h-36 w-full object-cover object-center"
             src="https://dummyimage.com/720x400" alt="blog">
        <div class="p-14">
          <h4 class="title-font text-lg font-bold text-black mb-3">Nome Opera</h4>
          <p class="leading-relaxed mb-3">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
            dolorem ipsum quia dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto justify-center ">
    <div class="flex lg:flex-row md:flex-col w-full h-full gap-[50px] mb-16">
      <div class="w-1/2  flex flex-col gap-[63px] ">
        <div class="w-full h-full" *ngIf="operas[0]">
          <a class="flex relative" [routerLink]="operas[0].slug">
            <img alt="gallery" class=" inset-0 w-full h-full object-cover object-center"
                 [src]="operas[0].image">
            <div
              class="px-8 py-10 absolute z-10 w-full h-full flex items-center justify-center  flex-col bg-transparent ">
              <h1 class="title-font text-4xl font-bold text-white mb-3">{{operas[0].label}}</h1>
<!--              <p class="title-font text-white mb-3">(XXX)</p>-->
            </div>
          </a>
        </div>
        <div class="w-full h-full " *ngIf="operas[1]">
          <a class="flex relative" [routerLink]="operas[1].slug">
            <img alt="gallery" class=" inset-0 w-full h-full object-cover object-center"
                 [src]="operas[1].image">
            <div
              class="px-8 py-10 absolute z-10 w-full h-full flex  flex-col items-center justify-center  bg-transparent ">
              <h1 class="title-font text-4xl font-bold text-white mb-3">{{operas[1].label}}</h1>
<!--              <p class="title-font text-white mb-3">(XXX)</p>-->
            </div>
          </a>
        </div>
      </div>
      <div class="w-1/2 h-full" *ngIf="operas[2]">
        <a class="flex relative" [routerLink]="operas[2].slug">
          <img alt="gallery" class=" inset-0 w-full h-full object-none object-center"
               src="./assets/images-opere/DESEGNI&BOZZETTI.png" [src]="operas[2].image">
          <div
            class="px-8 py-10 absolute z-10 w-full h-full flex  flex-col items-center justify-center  bg-transparent ">
            <h1 class="title-font text-4xl font-bold text-white mb-3">{{operas[2].label}}
            </h1>
<!--            <p class="title-font text-white mb-3">(XXX)</p>-->
          </div>
        </a>
      </div>
    </div>
    <div class="w-full h-1/2 mt-10  mx-auto" *ngFor="let opera of operas.slice(3)">
      <a class="flex relative" [routerLink]="opera.slug">
        <img alt="gallery" class="object-cover w-full h-1/2 object-center"
             [src]="opera.image">
                <div
                  class="px-8 py-10 absolute z-10 w-full h-full flex  flex-col items-center justify-center  bg-transparent ">
                  <h1 class="title-font text-4xl font-bold text-white mb-3">{{opera.label}}
                  </h1>
                </div>
      </a>

    </div>
  </div>

</section>
