<header class="text-header-color bg-header-bg w-full z-50" [ngClass]="{fixed: themeSettings && themeSettings.header.fixed}">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="flex lg:w-2/5 flex-wrap items-center text-header-color md:ml-auto">
      <app-nested-menu [menus]="themeSettings ? themeSettings.mainMenu : []"></app-nested-menu>
    </nav>
    <a [routerLink]="['/']"
       class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-header-color lg:items-center lg:justify-center mb-4 md:mb-0">
      <span class="ml-3 text-xl">{{themeSettings ? themeSettings.siteName : ''}}</span>
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
    </div>
  </div>
</header>
