<div class="w-full">
  <img src="./assets/images-opera/hero-catalog.png" style="width: inherit" alt="image"/>
</div>
<section class="text-black-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2" *ngFor="let item of catalogs">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
               [src]="item.catalogPhotos ? item.catalogPhotos[0].url : 'https://dummyimage.com/200x200'">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-black-900">{{item.title}}</h2>
            <h3 class="text-black mb-3">Tipologia: <span></span></h3>
            <h3 class="text-black mb-3">Anno: <span>{{item.publishYear}}</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mx-auto flex justify-center flex-row gap-6 py-32">
  <div
    class="bg-black  text-white font-semibold hover:text-white py-2 px-4 border border-black-500 hover:border-transparent rounded">
    <a href="/biblioteca">
      < TORNA A BIBLIOTECA
    </a>
  </div>
  <div
    class="bg-black  text-white font-semibold hover:text-white py-2 px-4 border border-black-500 hover:border-transparent rounded">
    <a href="/antologie">
      VAI A ANTOLOGIA >
    </a>
  </div>
</div>
