.wrapper{
  background-image: url("/assets/dummy-img/background-carousel-v3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 85%;
  padding: 50px 100px;
  background: white;
}

.carousel-container > div {
  display: none;
  border-radius: 5px;
}

.carousel-container div.div-active {
  display: block;
  width: 100%;
  height:auto;
}

/* dots indicators*/

.carousel-dot-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: #232020;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover {
  opacity: 1;
}


/* image transition fade effect*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  display: flex;
  flex-direction: row;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  padding: 0;
  color: #232020;
  text-align: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.btn-prev {
  left: 0;
}

.btn-next{
  right: 0;
}

.icon-carousel {
  color: #232020;
  opacity: 0.5;
  transition: all 0.15s ease;
}

.icon-carousel:hover {
  opacity: 0.9;
}

.icon-carousel:active {
  opacity: 0.5;
}

.icon-next,
.icon-prev{
  font-size: 35px;
}



/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: 400px;
  object-fit: cover;

}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 2px 17px;
  border: black solid 1px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
  color: white;
}
h1{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.015em;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

