<!--<div class="bg-white shadow rounded-lg p-4 md:p-6 xl:p-8 my-6 mx-4 ">-->
<!--  <div class="bg-white p-8 rounded-md w-full">-->
<!--    <div class=" flex items-center justify-between pb-6">-->
<!--      <div>-->
<!--        <h2 class="text-gray-600 font-semibold">Manage Tags</h2>-->
<!--        <span class="text-xs">All Tags</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">-->
<!--        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">-->
<!--          <table class="min-w-full leading-normal">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th-->
<!--                class="ml-3 px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">-->
<!--                Tags-->
<!--              </th>-->
<!--              <th-->
<!--                class="w-[100px] px-4 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">-->
<!--                Actions-->
<!--              </th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let tag of allTags; let i = index">-->
<!--              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">-->
<!--                <div class="flex items-center">-->
<!--                  <div class="ml-3">-->
<!--                    <p class="text-gray-900 whitespace-no-wrap">-->
<!--                      {{tag}}-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm flex flex-row ">-->
<!--                <button-->
<!--                  (click)="removeElement(i)"-->
<!--                  class="py-2 px-3 text-xs font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"-->
<!--                  type="button">-->
<!--                  Delete-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

