<div>
  <form [formGroup]="form">

    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="title-input">Title</label>
    <input
      class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="title"
      id="title-input"
      type="text"
    >
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="titleContent-input">Title Content</label>
    <input
      class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="titleContent"
      id="titleContent-input"
      type="text"
    >
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
           for="subtitle-input">Subtitle</label>
    <textarea
      class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="subtitle"
      id="subtitle-input"
      type="text"> </textarea>
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="button_text-input">Button Text:</label>
    <input
      class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="button_text"
      id="button_text-input"
      type="text">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="email-input">Email:</label>
    <input
      class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="email"
      id="email-input"
      type="text"
    >
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="email-input">Address:</label>
    <input
      class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="address"
      id="address-input"
      type="text"
    >
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="facebook_contact-input">Facebook Contact:</label>
    <input
      class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="facebook_contact"
      id="facebook_contact-input"
      type="text"
    >  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="twitter_contact-input">Twitter Contact:</label>
    <input
      class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="twitter_contact"
      id="twitter_contact-input"
      type="text"
    > <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="instagram_contact-input">Instagram Contact:</label>
    <input
      class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="instagram_contact"
      id="instagram_contact-input"
      type="text"
    >
  </form>
</div>
