<div [formGroup]="form">
  <div [ngSwitch]="config.controlType">
    <div *ngSwitchCase="'input'">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{config.label}}</label>
      <input
        [formControlName]="config.key"
        class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="text"
      >
    </div>
    <div *ngSwitchCase="'textarea'">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{config.label}}</label>
      <quill-editor
        [formControlName]="config.key"
        class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        format="json"></quill-editor>
    </div>
    <div *ngSwitchCase="'switch'">
      <label class="inline-flex relative items-center mb-4 cursor-pointer mt-3">
        <input [formControlName]="config.key" class="sr-only peer" type="checkbox" value="">
        <div
          class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{config.label}}</span>
      </label>
    </div>
    <div *ngSwitchCase="'file'">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{config.label}}</label>
      <input (change)="triggerFileUpload($event, config.key)"
             class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
             type="file">
    </div>
    <div *ngSwitchCase="'items'">
      <div class="justify-between flex items-center mt-3">
        <div class="my-3 font-bold">Items List</div>
        <div>
          <button
            (click)="triggerAddItem()"
            aria-controls="drawer-right-example"
            class="text-white bg-blue-700 hover:bg-blue-800  rounded-lg text-xs p-2"
            type="button">
            Add Item
          </button>
        </div>
      </div>
      <div *ngFor="let item of form.controls.items.controls; let i = index;" formArrayName="items">
        <div [formGroupName]="i">
          <div class="flex justify-between items-center my-3">
            <span>Item {{i + 1}}</span>
            <div>
            <button
              (click)="triggerRemoveItem(i)"
              class="text-white bg-red-700 hover:bg-red-800  rounded-lg text-xs p-2 mr-2"
              type="button">
              Remove
            </button>
            <button
              (click)="hideEditItem(i)"
              class="text-white bg-blue-500 hover:bg-blue-600  rounded-lg text-xs p-2"
              type="button">
              <div class="flex"><p class="mr-2">Edit Item {{i+1}}</p>
              <ng-container *ngIf="statusHiddenEditItems[i]; else elseBlock">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/> </svg>
              </ng-container>
              <ng-template #elseBlock>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/> </svg>
              </ng-template>
              </div>
            </button>
            </div>
          </div>
          <div *ngFor="let itemConfig of config.configs" [ngSwitch]="itemConfig.controlType"
               [ngClass]="{hidden:!statusHiddenEditItems[i]}">
            <div *ngSwitchCase="'input'">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{itemConfig.label}}</label>
              <input
                [formControlName]="itemConfig.key"
                class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                type="text"
              >
            </div>
            <div *ngSwitchCase="'textarea'">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{itemConfig.label}}</label>
              <quill-editor
                [formControlName]="itemConfig.key"
                class="block w-full" format="json"></quill-editor>
            </div>
            <div *ngSwitchCase="'switch'">
              <label class="inline-flex relative items-center mb-4 cursor-pointer mt-3">
                <input [formControlName]="itemConfig.key" class="sr-only peer" type="checkbox" value="">
                <div
                  class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{item.label}}</span>
              </label>
            </div>
            <div *ngSwitchCase="'file'">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{itemConfig.label}}</label>
              <input (change)="triggerFileUpload($event, itemConfig.key,true, i)"
                     class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                     type="file">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
