<section class="text-black-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center justify-between">
    <div class="flex-1">
      <h1
        class="title-font text-center block  text-4xl mb-40 font-medium text-black-900">{{biography.firstName}} {{biography.lastName}}
      </h1>
      <div
        class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <p class="mb-8 leading-relaxed">
          <strong>Data di nascita:</strong> {{biography.birthDate}}
        </p>
        <p class="mb-8 leading-relaxed">
          <strong>Luogo di nascita: </strong> {{biography.birthLocality}},{{biography.birthCountry}}
        </p>
        <p class="mb-8 leading-relaxed">
          <strong>Data di morte: </strong> {{biography.deathDate}}
        </p>
        <p class="mb-8 leading-relaxed">
          <strong>Luogo di morte: </strong> {{biography.deathLocality}},{{biography.deathCountry}}
        </p>
      </div>
    </div>
    <div class=" md:w-1/2 w-5/6 mb-10 md:mb-0 flex-1" *ngIf="biography && biography.otherPhotos && biography.otherPhotos[0]">
      <img width="720" class="object-cover object-center rounded" [alt]="biography.firstName" [src]="biography?.otherPhotos[0]?.url">
    </div>
  </div>
</section>
<section class="text-black-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8">
      <div class="py-8  flex-wrap md:flex-nowrap" *ngFor="let bio of biography.biographies">

          <h1 class="md:text-5xl text-xl md:py-10 py-4 text-center md:block hidden">{{bio.startYear}}</h1>
        <div class="md:flex-grow">
          <p class="leading-relaxed biography-style">{{bio.description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-tabpage-block-v1></app-tabpage-block-v1>
