<footer class="footer text-footer-color bg-footer-bg">
  <div
    class="container px-8 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <a [routerLink]="['/']" class="flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
      <img alt="team" class=" w-24 h-24 object-position: center"
           *ngIf="themeSettings && themeSettings.siteLogo; else siteName"
           [src]="themeSettings.siteLogo">
      <ng-template #siteName>
        <a   class="flex title-font font-medium items-center md:justify-start justify-center "
           *ngIf="themeSettings && themeSettings.siteName">
          <span class="ml-3 text-xl">{{themeSettings.siteName}}</span>
        </a>
      </ng-template>
    </a>
    <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4" *ngFor="let menuItem of menu; let i = index;">
        <nav class="list-none mb-10">
          <li>
            <h2 class="title-font font-medium  tracking-widest text-sm mb-3">
              <a class="hover:underline" [routerLink]="[menuItem.slug]">{{menuItem.label}}</a>
            </h2>
          </li>
          <li *ngFor="let item of menuItem.children">
            <a class="hover:underline" [routerLink]="[item.slug]">{{item.label}}</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="footer">
    <a [routerLink]="['/']" class="container mx-auto py-4 px-8 flex flex-wrap flex-col sm:flex-row">
      <img  alt="team" class=" w-10 h-10 object-position: center"
           *ngIf="themeSettings && themeSettings.siteLogo; else siteName"
           [src]="themeSettings.siteLogo">
      <ng-template #siteName>
        <a class="text-sm text-center sm:text-left">{{themeSettings.siteName}}</a>
      </ng-template>
    </a>
  </div>
</footer>
